<!DOCTYPE html>
<html>
    <head>
        <title>Price</title>
    </head>
    <body>
        <h1>To ship your package it will cost:</h1>
        <%= weight%>
        <%= mailType%>
        <p>$<%= price%></p>
    </body>
</html>