<!DOCTYPE html>
<html>
<head>
	<title>Shipping Cost</title>
    <link type="text/css" rel="stylesheet" href="../../public/stylesheets/main.css"/>
</head>
<body>
    <main>
	<h1>Your Shipping Cost will be:</h1>
    <p>$<%= price%></p>
    <p><%= message%></p>
    </main>
</body>
</html>